@model IEnumerable<KeukenhofWebsite.Models.Content>

@{
    Layout = "~/Views/Shared/_Header.cshtml";
}

<head>
    <link href="~/css/contact.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="plaatjeBoven">
        <img src="~/images/Contact-Tulpen.jpg" alt="Tulp" style=" height:auto; width:100%;">
    </div>
    <div class="WitteContext">
        <h1 class="contact">Contact</h1>

        <table>
            <tr>
                <td>
                    <p class="Links">@Model.Where(s => s.ContentId == 1).Select(s => s.Tekst).Single()</p>
                </td>
                <td>
                    <p class="Rechts">@Model.Where(s => s.ContentId == 2).Select(s => s.Tekst).Single()</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="Lichtgroen">
        <h2 class="GroenTitel">Waar bent u naar op zoek?</h2>

        <a class="vakjes" asp-action="Content">
            <div class="Groen1">
                <img src="~/images/190511LLU8603.jpg" class="Kplaatje1" />
                <p class="Titel">Groepen</p>
                <img src="~/images/arrow-right.svg" class="pijl" />
            </div>
        </a>

        <a class="vakjes" asp-action="Content">
            <div class="Groen2">
                <img src="~/images/VrouwMetUil.png" class="Kplaatje2" />
                <p class="Titel">Pers</p>
                <img src="~/images/arrow-right.svg" class="pijl" />
            </div>
        </a>

        <a class="vakjes" asp-action="Content">
            <div class="Groen3">
                <img src="~/images/ManBijBloem.jpg" class="Kplaatje3" />
                <p class="Titel">Gevonden Items</p>
                <img src="~/images/arrow-right.svg" class="pijl" />
            </div>
        </a>

        <a class="vakjes" asp-action="Content">
            <div class="Groen4">
                <img src="~/images/Bloemenveld2.jpg" class="Kplaatje4" />
                <p class="Titel">Leveranciers</p>
                <img src="~/images/arrow-right.svg" class="pijl" />
            </div>
        </a>
    </div>

    <div class="PI">
        <h1 class="TitelP">Praktische informatie</h1>
        <div class="row">
            <div class="columnPlaatje">
                <img src="~/images/VrouwMetBlijeTelefoon.jpg" alt="Telefoon" class="TelefoonMevrouw">
            </div>
            <div class="infoTekst">
                <div class="columnTekst">
                    <h1 class="oranjeTitel">Openingstijden</h1>
                    <p class="Otekst">@Model.Where(s => s.ContentId == 5).Select(s => s.Tekst).Single()</p>
                    <p class="Otekst">@Model.Where(s => s.ContentId == 8).Select(s => s.Tekst).Single()</p>
                </div>
                <div class="columnTekst">
                    <h1 class="oranjeTitel">Hoe kan ik contact opnemen met Keukenhof?</h1>
                    <p class="Otekst">@Model.Where(s => s.ContentId == 9).Select(s => s.Tekst).Single()</p>
                </div>
            </div>
        </div>
    </div>

</body>
