@model IEnumerable<KeukenhofWebsite.Models.Content>

@{
    ViewData["Title"] = "Bereikbaarheid";
    ViewBag.ovLink = "https://www.google.nl/maps/dir//Keukenhof,+Stationsweg+166A,+2161+AM+Lisse/@52.2700188,4.5442006,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c5c20434806f1d:0x37db0da72386280!2m2!1d4.5463893!2d52.2700188!3e0";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<head>
    <link href="~/css/Bereikbaarheid_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <img src="~/images/Bereikbaarheid.jpg" alt="Bereikbaarheid_image" class="image" />

    <div class="top_info">
        <h1 class="ber_title">
            Bereikbaarheid
        </h1>

        <div class="ber_left">
            <p class="open_text_left">@Model.Where(s => s.ContentId == 21).Select(s => s.Tekst).Single()</p>
        </div>
        <div class="ber_right">
            <p class="open_text_right">@Model.Where(s => s.ContentId == 22).Select(s => s.Tekst).Single()</p>
        </div>
    </div>

    <div class="navigation">
        <a class="ber_nav" href="#ov"><p>Openbaar vervoer</p></a>
        <a class="ber_nav" href="#eigen_vervoer"><p>Eigen vervoer</p></a>
        <a class="ber_nav" href="#groups"><p>Georganiseerde reis</p></a>
    </div>

    <div class="ov" id="ov">
        <h1 class="ov_title">
            Openbaar vervoer
        </h1>

        <p class="ov_info">
            @Model.Where(s => s.ContentId == 23).Select(s => s.Tekst).Single()
        </p>
    </div>

    <div class="lines">
        <img src="~/images/bus_plan.jpg" alt="bus_download_img" class="plan_img" />
        <div class="download_button">
            <a class="plan_img" href="~/images/ov_lines.pdf" download="">
                <p class="ber_link_text">
                    Download een overzicht met de verschillende bus-, trein-, tram- en metrolijnen.
                    <i class="fas fa-download"></i>
                </p>
            </a>
        </div>
    </div>

    <div class="option">
        <img src="~/images/Keukenhof_ingang.png" alt="Ingang_img" class="plan_img" />
        <div class="download_button">
            <a class="plan_img" href="@ViewBag.ovLink">
                <p class="ber_link_text">
                    Hoe kunt u het beste reizen?
                    <i class="fas fa-arrow-right"></i>
                </p>
            </a>
        </div>
    </div>

    <div class="eigen_vervoer" id="eigen_vervoer">
        <h1 class="ov_title">
            Eigen vervoer
        </h1>

        <p class="ov_info">
            @Model.Where(s => s.ContentId == 24).Select(s => s.Tekst).Single()
        </p>
    </div>

    <div class="fiets">
        <div class="coll coll_left">
            <div class="fiets_plaatje">
                <img src="~/images/fietsdoorduinen.jpg" alt="Fiets_image" class="fiets_img" />
            </div>
        </div>
        <div class="coll coll_right">
            <div class="row">
                <h1 class="img_title">
                    Parkeren van de auto, fiets en scooter
                </h1>
                <p class="img_text">
                    @Model.Where(s => s.ContentId == 25).Select(s => s.Tekst).Single()
                </p>
            </div>
            <div class="row">
                <h1 class="img_title">
                    Oplaadpunten voor elektrische auto's en fietsen
                </h1>
                <p class="img_text">
                    @Model.Where(s => s.ContentId == 26).Select(s => s.Tekst).Single()
                </p>
            </div>
            <div class="row row_bottom">
                <h1 class="img_title">
                    Mag ik in het park fietsen en zijn ze te huur?
                </h1>
                <p class="img_text">
                    @Model.Where(s => s.ContentId == 27).Select(s => s.Tekst).Single()
                </p>
            </div>

        </div>
    </div>

    <div class="groups" id="groups">
        <img src="~/images/Bloemenveld.jpg" alt="Tulp_image" style="width: 100%;" />
        <div class="download_button">
            <a class="plan_img" asp-action="Content">
                <p class="ber_link_text">
                    Groepen
                    <i class="fas fa-arrow-right"></i>
                </p>
            </a>
        </div>
    </div>

</body>
