@model IEnumerable<KeukenhofWebsite.Models.Content>

@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Content_css.css" />
</head>
<body>
    <div class="bovenaan">
        <img class="content_plaatje" src="~/images/190407LLT5844.jpg" alt="Content_plaatje" />
    </div>

    <div class="toegankelijkheid_deel">
        <p class="titel">Toegankelijkheid</p>
        <p class="toegankelijkheid_text">@Model.Where(s => s.ContentId == 15).Select(s => s.Tekst).Single()</p>
    </div>

    <div class="rolstoel_deel">
        <a asp-action="Content" class="rolstoel_buttonvak">
            <div class="rolstoel_button"></div>
            <p class="rolstoel_buttontext">Rolstoel reserveren</p>
        </div>
        <p class="rolstoel_textonderbutton">@Model.Where(s => s.ContentId == 18).Select(s => s.Tekst).Single()</p>
        <p class="titel">Rolstoelen</p>
        <p class="text1">@Model.Where(s => s.ContentId == 16).Select(s => s.Tekst).Single()</p>
        <p class="text2">@Model.Where(s => s.ContentId == 17).Select(s => s.Tekst).Single()</p>
    </div>

    <div class="toegestaan_deel">
        <p class="titel">Toegestane voortbewegingsmiddelen</p>
        <p class="toe_text1">@Model.Where(s => s.ContentId == 19).Select(s => s.Tekst).Single()</p>
        <p class="toe_text2">@Model.Where(s => s.ContentId == 20).Select(s => s.Tekst).Single()</p>
    </div>
</body>
